<div class="nested-fields">
      <%= f.label :moreans , style: "display: block"%>
      <%= f.text_field :moreans %>
      <%= f.check_box :check %>
      <%= f.hidden_field :_destroy %>
    <div>
      <%= link_to "Remove", '#', class: "remove_fields" %>
    </div>
</div>
