<%= form_with(model: @question , local: true, mothod: :GET, url: { action: "create" }) do |f| %> 
 <%if @question.errors.any?%>
    <div style="color: red">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul>
        <%@question.errors.each do |error|%>  
          <li><%= error.full_message %></li>
        <%end%>
      </ul>
    </div>
  <%end%>
<%count =4%>
<h2>Enter user details</h2>
   <div>
    <%= f.label :quetion, style: "display: block" %>
    <%= f.text_field :quetion %>
  </div>  
  <div class="nested-fields">
   <%= f.fields_for :answer, Answer.new do |b| %>
    <%render("answer_fields", f: b)%>
    <% end %>
</div>
  <div class="nested-fields">
   <%= f.fields_for :answer, Answer.new do |b| %>
    <%render("answer_fields", f: b)%>
    <% end %>
</div>
  <div class="nested-fields">
   <%= f.fields_for :answer, Answer.new do |b| %>
    <%render("answer_fields", f: b)%>
    <% end %>
</div>
  <div class="nested-fields">
   <%= f.fields_for :answer, Answer.new do |b| %>
    <%render("answer_fields", f: b)%>
    <% end %>
</div>  
<div>
  <%=link_to_add_fields "Add answer", f, :answer %> 
</div>
<div>   
  <div>
    <%= f.label :role, style: "display: block" %>
    <%= f.text_field :role %>
  </div>
  <div>
    <%= f.label :level, style: "display: block" %>
    <%= f.select :level, options_for_select([["ez", "ez"], ["normal", "normal"],["hard", "hard"],["very hard", "very hard"]]) %>
  </div>
  <%= f.hidden_field :Belongto , :value => current_user.username  %>
<div>
  <%= f.submit %>
</div>  
<% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript">
var $check_boxes = $('input[type=checkbox]');
$check_boxes.click(function() {
  $check_boxes.prop('checked', false);
  $(this).prop('checked', true);
});
</script>