<%= form_with(model: @question , local: true, mothod: :GET, url: { action: "create" } ) do |f| %> 
<%count =4%>
<h2>Enter user details</h2>
   <div>
    <%= f.label :quetion, style: "display: block" %>
    <%= f.text_field :quetion %>
  </div>

  <div>
    <%= f.label :a1, style: "display: block" %>
    <%= f.text_field :a1 %>
  </div>

  <div>
    <%= f.label :a2, style: "display: block" %>
    <%= f.text_field :a2 %>
  </div>

  <div>
    <%= f.label :a3, style: "display: block" %>
    <%= f.text_field :a3 %>
  </div>

  <div>
    <%= f.label :a4, style: "display: block" %>
    <%= f.text_field :a4 %>
  </div>

 <div>
    <%= f.label :role, style: "display: block" %>
    <%= f.text_field :role %>
  </div>
<div>
  <%= f.label :level, style: "display: block" %>
  <%= f.select :level, options_for_select([["ez", "ez"], ["normal", "normal"],["hard", "hard"],["very hard", "very hard"]]) %>
  </div>
  <div>
  <%= f.label :ans, style: "display: block" %>
  <%= f.select :ans, options_for_select([["1", "1"], ["2", "2"],["3", "3"],["4", "4"],["5", "5"],["6", "6"],["7", "7"],["8","8"]]) %>
  </div>
<div>
    <%=link_to_add_fields "Add answer", f, :answer %> 
</div>

<div>
  <%= f.submit %>
</div>
<% end %>
