<%count =1%>
  <p>
    <strong>question:</strong>
    <%= @question.quetion %>
  </p>
  <%if @question.answer.any?%>  
      <% @question.answer.each do |ans| %>
        <p>
        <%color = "black"%>
        <%if ans.check ==true%> 
          <%color = "green"%>
        <%end%>
        <strong> <p style="color:<%=color%>">ans <%=count%> : <%= ans.moreans %></p></strong>
        <%count = count +1%>
        </p>   
      <%end%>
    <%end%>
  <p> 
    <strong> type:</strong>
    <%= @question.role %>
  </p>
  <p>
    <strong> level:</strong>
    <%= @question.level %>
  </p>
