
  <style type="questions.scss"> 

  <p>
    <strong>question:</strong>
    <%= @question.quetion %>
  </p>
  </style>
  <p>
      <strong>Ans 1:</strong>
      <%= @question.a1 %>
  </p>

  <p>
    <strong>Ans 2:</strong>
    <%= @question.a2 %>
  </p>

  <p>
    <strong>Ans 3:</strong>
    <%= @question.a3 %>
  </p>

  <p>
    <strong>Ans 4:</strong>
    <%= @question.a4 %>
  </p>
  
  <p>
    <strong> Anser:</strong>
    <%= @question.ans %>
  </p>
  
<p>
    <strong> type:</strong>
    <%= @question.role %>
  </p>
  <p>
    <strong> level:</strong>
    <%= @question.level %>
  </p>
