  <div class="editques-container">
<table>
  <thead>
    <tr class="editques">
      <th>ID</th>
      <th>Question</th>
      <th>Anser 1</th>
      <th>Anser 2</th>
      <th>Anser 3</th>
      <th>Anser 4</th>
      <th>Anser 5</th>
      <th>Anser 6</th>
      <th>Anser 7</th>
      <th>Anser 8</th>
      <th>topic</th>
      <th>level</th>
      <th colspan="3">action</th>
    </tr>
  </thead>
  <tbody>
    <% @question.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.quetion %></td>
      <div>
      <%count=0%>
       <%if question.answer.any?%>
          <% question.answer.each do |ans| %>
            <td>
              <%color = "black"%>
              <%if ans.check ==true%> 
                <%color = "green"%>
              <%end%>
              <p style="color:<%=color%>"> <%= ans.moreans %></p>
        <%count = count +1%>
        </td>   
          <%end%>
          <%while count<8%> 
               <td></td>
                    <%count = count +1%>
          <%end%>
        <%end%>
        </div>
        <td><%= question.role%></td>
        <td><%= question.level%></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'destroy', question, method: :delete, data: {confirm: 'Are you sure?'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
<%== pagy_nav(@pagy) %>
