<header>
  <h1>Editing Question</h1>
</header>

<%= form_with model: @question ,local: true, mothod: :POST, url: { action: "update" } do |f| %> 
<div class="editquestion-contanier">

<h2>Enter user details</h2>
   <div>
    <%= f.label :quetion, style: "display: block" %>
    <%= f.text_field :quetion %>
  </div>
  <div>
  <div class="nested-fields">
   <%= f.fields_for :answer do |b| %>
      <%= b.label  "ans"  , style: "display: block"%>
      <%= b.text_field :moreans %>
      <%= b.check_box :check %>
      <%= b.hidden_field :_destroy %>
    <% end %>
</div>  
  </div>
 <div>
    <%= f.label :role, style: "display: block" %>
    <%= f.text_field :role %>
  </div>
<div>
    <%= f.label :level, style: "display: block" %>
     <%= f.select :level, options_for_select([["ez", "ez"], ["normal", "normal"],["hard", "hard"]]) %>
  </div>
</div>
    <%= f.submit %>
  </div>

<% end %>


</div>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>