<header>
  <h1>Editing Question</h1>
</header>

<%= form_with model: @question ,local: true, mothod: :GET, url: { action: "update" } do |f| %> 
<div class="editquestion-contanier">
  <% if @question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 
<h2>Enter user details</h2>
   <div>
    <%= f.label :quetion, style: "display: block" %>
    <%= f.text_field :quetion %>
  </div>
  <div>

    <%= f.fields_for :answer do |a| %>
        <div class="field">
            <%= a.label :moreans %>
            <%= a.text_area :moreans %>
            <%= a.check_box :check%>
        </div>
   <% end %>

  </div>
 <div>
    <%= f.label :role, style: "display: block" %>
    <%= f.text_field :role %>
  </div>
<div>
    <%= f.label :level, style: "display: block" %>
     <%= f.select :level, options_for_select([["ez", "ez"], ["normal", "normal"],["hard", "hard"]]) %>
  </div>
</h2>
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Show', @question %> |
<%= link_to 'Back', question_path %>

</div>
    <footer>
        <p>View my project <a href="#">NguyenExam&trade;</a></p>
    </footer>