
<h1>Editing Question</h1>

<%= form_with model: @question , url: { action: "update" } do |form| %> 
  <% if @question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this product from being saved:</h2>
      <ul>
        <% @question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<h2>Enter user details</h2>
   <div>
    <%= form.label :quetion, style: "display: block" %>
    <%= form.text_field :quetion %>
  </div>

  <div>
    <%= form.label :a1, style: "display: block" %>
    <%= form.text_field :a1 %>
  </div>

  <div>
    <%= form.label :a2, style: "display: block" %>
    <%= form.text_field :a2 %>
  </div>

  <div>
    <%= form.label :a3, style: "display: block" %>
    <%= form.text_field :a3 %>
  </div>

  <div>
    <%= form.label :a4, style: "display:  block" %>
    <%= form.text_field :a4 %>
  </div>

 <div>
    <%= form.label :role, style: "display: block" %>
    <%= form.text_field :role %>
  </div>
<div>
    <%= form.label :level, style: "display: block" %>
     <%= form.select :level, options_for_select([["ez", "ez"], ["normal", "normal"],["hard", "hard"]]) %>
  </div>
<div>
<%= form.label :ans, style: "display: block" %>
<%= form.select :ans, options_for_select([["ans 1", "1"], ["ans 2", "2"],["ans 3", "3"],["ans 4", "4"]]) %>
</div>

</h2>
    <%= form.submit %>
  </div>

<% end %>
<%= link_to 'Show', @question %> |
<%= link_to 'Back', question_path %>
