<% score = 0,count =0%>
<header>
  <h1>Question</h1>
</header>
<%if user_signed_in?%>
<form  action="/question/ScoreQuestion" method = "get" id = "question_Form">
 <input type="hidden" id="num_of_question" name="num_of_question" value = "<%=params[:Num_Question]%>" >
  <input type="hidden" id="id_of_question" name="id_of_question" value = "<%=@id_question%>" >
  <input type="hidden" id="topic" name="topic" value = "<%=params[:topic]%>" >
    
<div class="card">
<span id="countdown" style="font-weight: bold;"></span>
</div>
<div class="test-continer">
 <%@question.each do |question|%> 
 <%countans = 0%>
 <%if count < params["Num_Question"].to_i%>
 <%count = count +1%>
 <div class="quiz-container" id="quiz"> 
    <div class="quiz-header">
  <div style="font-weight: bold; font-size : 1.25em">Question Number <%=count%>:<br> </div>
  <div><%= question['quetion'] %></div>
      <ul> 
        <%if question.answer.any?%>
          <% question.answer.each do |ans| %>
          <li>
          <%countans =countans +1%>
          <input type="radio" name="<%=question['id']%>" id=<%=countans%> value= <%=ans.id%> class="answer">
          <td><%=ans.moreans%></td>
          </li>
          <%end%>
        <%end%>
      </ul>   
      <%end%>
        </div>
</div>
    <% end %>
  <button id="submit" onclick="submitForm()">Submit</button>
</form>
<script>
var timeInSecs;
var ticker;
function param(name) {
    return (location.search.split(name + '=')[1] || '').split('&')[0];
}
function submitForm(){
    const submitFormFunction = Object.getPrototypeOf(question_Form).submit;
    submitFormFunction.call(question_Form);
}
timmer = param("Num_Question");
function startTimer(secs) {
    timeInSecs = parseInt(secs);
    ticker = setInterval("tick()", 1000);
}
function submitForm(){
    const submitFormFunction = Object.getPrototypeOf(question_Form).submit;
    submitFormFunction.call(question_Form);
}
function tick() {
    var secs = timeInSecs;
    if (secs > 0) {
        timeInSecs--;
    } else {
     clearInterval(ticker);
     submitForm();
    }
    var mins = Math.floor(secs / 60);
    secs %= 60;
    var pretty = ((mins < 10) ? "0" : "") + mins + ":" + ((secs < 10) ? "0" : "") + secs;
    document.getElementById("countdown").innerHTML = pretty;
}
startTimer(60*timmer); //   4 minutes in seconds
//Credits to Gulzaib from Pakistan
</script>
<%end%>
<br>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
  </footer>