<p id="notice"><%= notice %></p>
<% score = 0%>
<% count =0%>

<h2>Question</h2> 

<%if user_signed_in?%>
  
<form  action="/question/ScoreQuestion" method = "get" id = "question_Form">
 <input type="hidden" id="num_of_question" name="num_of_question" value = "<%=params["Num_Question"]%>" >
  <input type="hidden" id="id_of_question" name="id_of_question" value = "<%=@id_question%>" >
    
<div class="card">
<span id="countdown" style="font-weight: bold;"></span>
</div>

 <%@question.each do |question|%> 
 <%if count < params["Num_Question"].to_i%>
 <%count = count +1%>
 <div class="quiz-container" id="quiz">
    <div class="quiz-header">
  <td>Question Number <%=count%>:<%= question['quetion'] %></td>
      <ul>
         <li>
          <input type="radio" name="<%=question['id']%>" id="a" value= "1" class="answer">
          <td><%= question['a1'] %></td>
        </li>
        <li>
          <input type="radio" name="<%=question['id']%>" id="b" value= "2" class="answer">
          <td><%= question['a2'] %></td>
        </li>
        <li>
          <input type="radio" name="<%=question['id']%>" id="c" value= "3" class="answer">
          <td><%= question['a3']%></td>
        </li>
        <li>
          <input type="radio" name="<%=question['id']%>" id="d" value= "4" class="answer">
          <td><%= question['a4'] %></td>
        </li> 
      </ul>   
      <%end%>
     <% end %>
    </div>
    <button id="submit" onclick="submitForm()">Submit</button>
  </div>
  </form>
  <script>
var timeInSecs;
var ticker;
function param(name) {
    return (location.search.split(name + '=')[1] || '').split('&')[0];
}
function submitForm(){
    const submitFormFunction = Object.getPrototypeOf(question_Form).submit;
    submitFormFunction.call(question_Form);
}
timmer = param("Num_Question");
function startTimer(secs) {
    timeInSecs = parseInt(secs);
    ticker = setInterval("tick()", 1000);
}
function submitForm(){
    const submitFormFunction = Object.getPrototypeOf(question_Form).submit;
    submitFormFunction.call(question_Form);
}
function tick() {
    var secs = timeInSecs;
    if (secs > 0) {
        timeInSecs--;
    } else {
     clearInterval(ticker);
     submitForm();
    }
    var mins = Math.floor(secs / 60);
    secs %= 60;
    var pretty = ((mins < 10) ? "0" : "") + mins + ":" + ((secs < 10) ? "0" : "") + secs;
    document.getElementById("countdown").innerHTML = pretty;
}
startTimer(5); //   4 minutes in seconds
//Credits to Gulzaib from Pakistan
</script>
<%end%>
<br>