<p id="notice"><%= notice %></p>
<h1>Question</h1>
<% score = 0%>

  <%if current_user.role== "admin" %>
<table>
  <thead>
    <tr>
   <th>ID</th>
     <th>Question</th>
     <th>Anser 1</th>
     <th>Anser 2</th>
     <th>Anser 3</th>
     <th>Anser 4</th>
     <th>Right anser</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @question.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.quetion %></td>
        <td><%= question.a1 %></td>
        <td><%= question.a2 %></td>
        <td><%= question.a3 %></td>
        <td><%= question.a4 %></td>
        <td><%= question.ans %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'destroy', question, method: :delete, data: {confirm: 'Are you sure?'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Question', new_question_path %>
<%end%>
<%if user_signed_in?%>
<%.countdown
	svg(viewBox=[o, o, d, d].join(' ') stroke-width=sw)
		circle(r=r)
		circle(r=r stroke-dasharray=len stroke-dashoffset=`${len}px`)%>
<form action="/question/ScoreQuestion" method = "get">
 <%@question.each do |question|%> 
 <%if question.id <= params["Num_Question"].to_i%>
 <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <td>Question Number <%=question.id%>:<%= question.quetion %></td>
      <ul>
         <li>
          <input type="radio" name="<%=question.id%>" id="a" value= "1" class="answer">
          <td><%= question.a1 %></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="b" value= "2" class="answer">
          <td><%= question.a2 %></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="c" value= "3" class="answer">
          <td><%= question.a3%></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="d" value= "4" class="answer">
          <td><%= question.a4 %></td>
        </li>
      </ul>    
      <%end%>
     <% end %>
    </div>
    <button id="submit">Submit</button>
  </div>
  </form>
<% end%>
<br>