<p id="notice"><%= notice %></p>
<% score = 0%>
<h2>Question</h2> 

<%if user_signed_in?%>
  <%if current_user.role== "admin" %>
<table>
  <thead>
    <tr>
   <th>ID</th>
     <th>Question</th>
     <th>Anser 1</th>
     <th>Anser 2</th>
     <th>Anser 3</th>
     <th>Anser 4</th>
     <th>Right anser</th>
       <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @question.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.quetion %></td>
        <td><%= question.a1 %></td>
        <td><%= question.a2 %></td>
        <td><%= question.a3 %></td>
        <td><%= question.a4 %></td>
        <td><%= question.ans %></td>
        <td><%= question.role%></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'destroy', question, method: :delete, data: {confirm: 'Are you sure?'}%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Question', new_question_path %>
<%else%>
<form  action="/question/ScoreQuestion" method = "get" id = "question_Form">
 <input type="hidden" id="num_of_question" name="num_of_question" value = "<%=params["Num_Question"]%>" >
<div class="card">
<span id="countdown" style="font-weight: bold;"></span>
</div>
 <%@question.each do |question|%> 
 <%if question.id <= params["Num_Question"].to_i%>
 <div class="quiz-container" id="quiz">
    <div class="quiz-header">
      <td>Question Number <%=question.id%>:<%= question.quetion %></td>
      <ul>
         <li>
          <input type="radio" name="<%=question.id%>" id="a" value= "1" class="answer">
          <td><%= question.a1 %></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="b" value= "2" class="answer">
          <td><%= question.a2 %></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="c" value= "3" class="answer">
          <td><%= question.a3%></td>
        </li>
        <li>
          <input type="radio" name="<%=question.id%>" id="d" value= "4" class="answer">
          <td><%= question.a4 %></td>
        </li> 
      </ul>    
      <%end%>
     <% end %>
    </div>
    <button id="submit" onclick="submitForm()">Submit</button>
  </div>
  </form>
  <script>
var timeInSecs;
var ticker;
function param(name) {
    return (location.search.split(name + '=')[1] || '').split('&')[0];
}
timmer = param("Num_Question");
function startTimer(secs) {
    timeInSecs = parseInt(secs);
    ticker = setInterval("tick()", 1000);
}
function submitForm(){
    const submitFormFunction = Object.getPrototypeOf(question_Form).submit;
    submitFormFunction.call(question_Form);
}
function tick() {
    var secs = timeInSecs;
    if (secs > 0) {
        timeInSecs--;
    } else {

     clearInterval(ticker);
     submitForm();
    }
    var mins = Math.floor(secs / 60);
    secs %= 60;
    var pretty = ((mins < 10) ? "0" : "") + mins + ":" + ((secs < 10) ? "0" : "") + secs;
    document.getElementById("countdown").innerHTML = pretty;
}

startTimer(timmer*60); // 4 minutes in seconds
//Credits to Gulzaib from Pakistan

</script>
<%end%>
<%end%>
<br>