<header>
  <h1>Your Test</h1>
</header>
<p id="notice"><%= notice %></p>
<%anser = String.new%>
<%id_of_question = params[:id_of_question]%>
<%= hidden_field_tag :remaining_time, @remaining_time %>
<%score = 0%>
<%count =0%>
<%hs = 10/(params[:num_of_question].to_f)%>           
<%@question.each do |question|%> 
 <%count = count +1%>
 <div class="quiz-container" id="quiz"> 
    <div class="quiz-header">
  <div style="font-weight: bold; font-size : 1.25em">Question Number <%=count%>:<br> </div>
  <div><%= question['quetion'] %></div>
      <ul> 
      <%anser = anser + question['id'].to_s+":"%>
      <%if params[(question[:id]).to_s].present?%>
        <%anser = anser + params[(question[:id]).to_s]+","%>
      <%else%>
        <%anser = anser + "not anser,"%>
      <%end%>
        <%if question.answer.any?%>
          <% question.answer.each do |ans| %>  
           <td>
             <%user_ans =params[(question[:id]).to_s] %>
            <%if ans.check %>
              <%color = "green"%>
              <%if ans.id.to_s.eql? user_ans%>
                <%score = score + hs%>
              <%end%>
            <%else%>
              <%if !params[(question[:id]).to_s].present? or ans.id.to_s.eql? user_ans%>
                <%color = "red"%>
              <%else%>
                <%color = "black"%>
              <%end%>
            <%end%> 
            <p style="color:<%=color%>"> <%= ans.moreans %></p> 
        </td>   
          <%end%>
      </ul>   
      <%end%>
        </div>
    </div>
  <% end %>
  <%test_of_users = Testofuser.new()%>
  <%test_of_users.userID = current_user.id.to_s%>
  <%test_of_users.test = anser%>
  <%test_of_users.score = score.round(2)%>
  <%test_of_users.topic = params[:topic]%>
  <%test_of_users.save%>
  <%ExampleMailer.sample_email(current_user).deliver_now%>
<h1>your score: <%=score.round(2)%></h1>
<%= link_to 'Do it again', question_index_path(:Num_Question => params["num_of_question"]) %>
<footer>
  <p>View my project <a href="#">NguyenExam&trade;</a></p>
</footer>