<p id="notice"><%= notice %></p>
<% anser = String.new%>

  <%id_of_question = params[:id_of_question]%>

<div>
  <%= hidden_field_tag :remaining_time, @remaining_time %>
  <%score = 0%>
  <%count =1%>
  <%hs = 10/(params[:num_of_question].to_f)%>          

<%sq = id_of_question.split(",").first%>
 <%@question.each do |question|%> 
 <%user_ans = params[(question['id']).to_s].to_s%>
 <%if sq.include? question['id'].to_s%>
  <%if user_ans.eql?   question['ans'].to_s%>
       <%score = score + hs %>
  <%end%>
 <%id_of_question.slice! sq+","%> 
 <%sq = id_of_question.split(",").first%>
<div class="quiz-container" id="quiz1">
    <div class="quiz-header">
      <td>Question Number <%=count%>:<%= question['quetion'] %></td>
      <%count = count +1  %>
      <ul>
         <li>
          <td><%=question['a1']%></td>
            <%if question['ans'].eql? "1"  %> 
              <%= image_tag "true.jpg", class: "image_size", size: "5x5" %>
            <%else%>
              <%if params[(question['id']).to_s].to_s.eql? "1"%>
               <%= image_tag "xdo.jpg", class: "image_size" %> 
            <%end%>
              <%end%>
              <%if !params[(question['id']).to_s].present?%>
              <%= image_tag "xdo.jpg", class: "image_size" %> 
              <%end%>
        </li>
        <li>
          <td><%= question['a2'] %></td>
             <%if question['ans'].eql? "2"  %> 
             
    <%= image_tag "true.jpg", class: "image_size" %> 
             <%else%>
              <%if params[(question['id']).to_s].to_s.eql? "2"%>
             
                 <%= image_tag "xdo.jpg", class: "image_size" %> 
                 <%end%>
             <%end%>
                 <%if   !params[(question['id']).to_s].present?%>
                <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>
        <li>
            <td><%=question['a3']%>  </td>
             <%if question['ans'].eql? "3"  %> 
                  
              <%= image_tag "true.jpg", class: "image_size" %> 
              <%else%>
              <%if params[(question['id']).to_s].to_s.eql? "3"%>

                <%= image_tag "xdo.jpg", class: "image_size" %> 
       <%end%>
             <%end%>
                 <%if !params[(question['id']).to_s].present?%>    
                

               <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>
        <li>
          <td><%= question['a4'] %></td>
             <%if question['ans'].eql? "4"  %> 
           
               <%= image_tag "true.jpg", class: "image_size" %> 
              <%else%>
              <%if params[(question['id']).to_s].to_s.eql? "4"%>
           
               <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
              <%end%>
                  <%if !params[(question['id']).to_s].present?%>
                <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>   

         <%if params[(question['id']).to_s].present?%>
          <%paramQuestion = params[(question['id']).to_s].to_s%>
          <%anser = anser + question['id'].to_s+":"+paramQuestion+","%>       
             <%else%>
            <%anser = anser + question['id'].to_s+":"+"not anser,"%>
             <%end%>
      </ul>    
      <%end%>
     <%end%>
    </div>
    <h2>Your Score: <%=score.round(2)%></h2>
   <%test_of_users = Testofuser.new()%>
   <%test_of_users.userID = current_user.id.to_s%>
   <%test_of_users.test = anser%>
   <%test_of_users.score = score.round(2)%>
   <%test_of_users.save%>
    <%= link_to 'Do it again', question_index_path(:Num_Question => params["num_of_question"]) %>
</div>

