<p id="notice"><%= notice %></p>
  <%id_of_question = params[:id_of_question]%>
<div>
  <%= hidden_field_tag :remaining_time, @remaining_time %>
  <%score = 0%>
  
  <%hs = 10/(params[:num_of_question].to_f)%>          

<%@question.each do |questions|%>
<%if questions.id <= params["num_of_question"].to_i%>
<%user_ans = params[(questions.id).to_s].to_s%>
  <div class="quiz-container" id="quiz">
    <div class="quiz-header"> 
      <%if user_ans.eql? questions.ans.to_s%>
       <%score = score + hs %>
  <%end%>
    </div>
</div>
  <%end%>
  <%end%>
<h2>Your Score: <%=score.round(2)%></h2>
 <%@question.each do |question|%> 

 <%if id_of_question.include? question.id.to_s%>
<div class="quiz-container" id="quiz1">
    <div class="quiz-header">
      <td>Question Number <%=question.id%>:<%= question.quetion %></td>
      <ul>
         <li>
          <td><%=question.a1%></td>
            <%if question.ans.eql? "1"  %> 
              <%= image_tag "true.jpg", class: "image_size", size: "5x5" %>
            <%else%>
              <%if params[(question.id).to_s].to_s.eql? "1"%>
               <%= image_tag "xdo.jpg", class: "image_size" %> 
            <%end%>
              <%end%>
              <%if !params[(question.id).to_s].present?%>
              <%= image_tag "xdo.jpg", class: "image_size" %> 
              <%end%>
        </li>
        <li>
          <td><%= question.a2 %></td>
             <%if question.ans.eql? "2"  %> 
             
    <%= image_tag "true.jpg", class: "image_size" %> 
             <%else%>
              <%if params[(question.id).to_s].to_s.eql? "2"%>
                 <%= image_tag "xdo.jpg", class: "image_size" %> 
                 <%end%>
             <%end%>
                 <%if   !params[(question.id).to_s].present?%>
                <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>
        <li>
            <td><%=question.a3%>  </td>
             <%if question.ans.eql? "3"  %> 
                
              <%= image_tag "true.jpg", class: "image_size" %> 
              <%else%>
              <%if params[(question.id).to_s].to_s.eql? "3"%>
      
                <%= image_tag "xdo.jpg", class: "image_size" %> 
       <%end%>
             <%end%>
                 <%if !params[(question.id).to_s].present?%>
               <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>
        <li>
          <td><%= question.a4 %></td>
             <%if question.ans.eql? "4"  %> 
           
               <%= image_tag "true.jpg", class: "image_size" %> 
              <%else%>
              <%if params[(question.id).to_s].to_s.eql? "4"%>
           
               <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
              <%end%>
                  <%if !params[(question.id).to_s].present?%>
                <%= image_tag "xdo.jpg", class: "image_size" %> 
             <%end%>
        </li>
      </ul>    
      <%end%>
     <% end %>
    </div>
    <%= link_to 'Do it again', question_index_path(:Num_Question => params["num_of_question"]) %>
</div>

