<p style="color: green"><%= notice %></p>
<div>
<%= render "question/question" %>
  <%= link_to "Edit this question", edit_question_path(@question) %> |
  <%= link_to "Back to question", question_path%>
  <%= button_to "Destroy this question", @question, method: :delete %>
</div>
