     <%count=0%>
  <% test_of_question = @testofuser.test %>
  <h2>Your Score: <%=@testofuser.score.to_f.round(2)%></h2>
  <%qs = test_of_question.split(":").first%>
  <%test_of_question.slice! qs+":"%>
  <%ans = test_of_question.split(",").first%>
   <%test_of_question.slice! ans +","%>
   <div class="quiz-container" id="quiz1">
  
<%@question.each do |question|%> 
    
  <%if qs.include? question.id.to_s%>
    <%user_ans = ans%>
    <%count = count +1%>
    <div class="quiz-container" id="quiz"> 
    <div class="quiz-header">
    <div style="font-weight: bold; font-size : 1.25em">Question Number <%=count%>:<br> </div>
    <div><%= question['quetion'] %></div>
    <ul> 

    <%if question.answer.any?%>
      <% question.answer.each do |ans| %>  
        <td>
            <%if ans.check %>
              <%color = "green"%>
              <%if ans.id.to_s.eql? user_ans%>
              <%end%>
            <%else%>
              <%if !user_ans.eql? "not anser" or ans.id.to_s.eql? user_ans%>
                <%color = "red"%>
              <%else%>
                <%color = "black"%>
              <%end%>
            <%end%> 
            <p style="color:<%=color%>"> <%= ans.moreans %></p> 
        </td>   
      <%end%>
      </ul>   
    <%end%>
        </div>
    </div>
      <%if !test_of_question.eql? ""%>
      <%qs = test_of_question.split(":").first%>
      <%test_of_question.slice! qs+":"%>
      <%ans = test_of_question.split(",").first%>
      <%test_of_question.slice! ans +","%> 
    <%end%>
  <% end %>
<%end%>
</div>
 
    
  </p>
</div>

