<h1 style="text-align: center;">User Score</h1>

  <thead>
    <tr> <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
<div style="overflow-x:auto;">
<table>
   <%if current_user.role== "admin" %>
   <tr class="tes_user">
   <th>username</th>
   <th>email</th>
    <th>score</th> 
    <th></th>
   </tr>
       <% @testofuserforadmin.each do |testofuser| %>
      <tr class="tes_user">
      <%user = User.find(testofuser['userID'].to_i)%>
    <td>   <%=user.username%> </td>
        <td>   <%=user.email%> </td>
        <td><%= testofuser['score'].to_f.round(2) %></td>
        <td><%= link_to 'Show', testofuser_path(testofuser['id'])%></td>
      </tr>
    <% end %>
   <%else%>
    <% @testofuser.each do |testofuser| %>
      <tr>
        <td><%= testofuser.score.to_f.round(2) %></td>
        <td><%= link_to 'Show', testofuser %></td>
      </tr>
    <% end %>
    <%end%>
  </tbody>
</table>
</div>