
  <style type="user.scss"> 
  <p>
    <strong>id:</strong>
    <%= @userforadmin.id %>
  </p>
  </style>
  <p>
      <strong>Username:strong>
      <%= @userforadmin.username %>
  </p>

  <p>
    <strong>password:</strong>
    <%= @question.a2 %>
  </p>

  <p>
    <strong>Ans 3:</strong>
    <%= @question.a3 %>
  </p>

  <p>
    <strong>Ans 4:</strong>
    <%= @question.a4 %>
  </p>
  
  <p>
    <strong> Anser:</strong>
    <%= @question.ans %>
  </p>
  
<p>
    <strong> type:</strong>
    <%= @question.role %>
  </p>
  <p>
    <strong> level:</strong>
    <%= @question.level %>
  </p>
</div>
